<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="TeacherMapper">
  
  <select id="memberLogin" parameterType="com.choa.member.MemberDTO" resultType="com.choa.member.teacher.TeacherDTO">
	select M.*, T.* from MEMBER M, TEACHER T 
	where M.id=#{id} and M.pw=#{pw} and M.id=T.tid
	</select> 
	
     <insert id="joinTeacher" parameterType="com.choa.member.teacher.TeacherDTO">
        insert into teacher values(#{id}, #{subject}, sysdate)
     </insert>
     
  	<!-- view -->
	<select id="memberPage" parameterType="java.lang.String" resultType="com.choa.member.teacher.TeacherDTO">
		select * from teacher where tid=#{id}
	</select>
  </mapper>